@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;700;900&display=swap");

body {
  margin: 0;
  font-family: "Noto Sans JP",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overscroll-behavior-y: none;
}

.App {
  background-image: url("./assets/home-desktop-bg.jpg");
  background-size: cover;
  background-position: bottom;
  transition: 0.4s ease-out;
}

.App.warm {
  background-image: url("./assets/warm-desktop-bg.jpg");
}

.App.cold {
  background-image: url("./assets/cold-desktop-bg.jpg");
}

main {
  min-height: 100vh;
  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.75)
  );
}

.search-box {
  width: 100%;
  margin-bottom: 18vh;
}

.search-bar {
  width: 75vw;
  padding: 17px;
  margin: auto;
  margin-top: 7vh;

  appearance: none;
  background: none;
  border: none;
  outline: none;
  background-color: rgba(
    255,
    255,
    255,
    0.7
  );
  border-radius: 16px;
  box-shadow: 0px 5px
    rgba(0, 0, 0, 0.2);
  color: #313131;
  font-size: 2em;
  transition: 0.04s ease;
}

.search-bar:focus {
  background-color: rgba(
    255,
    255,
    255,
    0.85
  );
}

.location-box .location {
  color: white;
  font-size: 45px;
  font-weight: 500;
  text-shadow: 3px 3px
    rgba(50, 50, 70, 0.5);
}

.location-box .date {
  color: white;
  font-size: 20px;
  font-weight: 300;
  font-style: italic;
  text-shadow: 2px 2px
    rgba(50, 50, 70, 0.5);
}

.weather-box .temp {
  position: relative;
  display: inline-block;
  margin: 30px auto;
  background-color: rgba(
    255,
    255,
    255,
    0.2
  );
  border-radius: 16px;
  padding: 15px 25px;
  font-size: 102px;
  line-height: 110px;
  color: white;
  font-weight: 900;
  text-shadow: 3px 6px
    rgba(50, 50, 70, 0.5);
  box-shadow: 3px 6px
    rgba(0, 0, 0, 0.2);
}

.weather-box .weather {
  color: white;
  font-size: 48px;
  font-weight: 700;
  text-shadow: 3px 3px
    rgba(50, 50, 70, 0.5);
}

#temp-unit {
  font-size: 90px;
}

@media only screen and (max-width: 1050px) {
  .App {
    background-image: url("./assets/home-bg.jpg");
  }

  .App.warm {
    background-image: url("./assets/warm-bg.jpg");
  }

  .App.cold {
    background-image: url("./assets/cold-bg.jpg");
  }
}

@media only screen and (max-width: 1050px) {
  .search-box {
    margin-bottom: 11vh;
  }

  .search-bar {
    font-size: 22px;
  }

  .location-box .location {
    font-size: 40px;
  }

  .weather-box .temp {
    font-size: 80px;
    line-height: 90px;
  }

  #temp-unit {
    font-size: 75px;
  }

  .weather-box .weather {
    font-size: 40px;
  }
}
